{% extends "admin.base.html.twig" %}

{% block content %}
<!-- - - right side - - -->
				<div class="right-side">
					<!-- FORM-FORM -->
					<form action="">
						<div class="contacts">
							<div class="topic-wrapper">
								<span class="topic">Контакты</span>
								<div class="button-submit">
									<label for="submit_btn">
										<input type="submit" id="submit_btn" value="Сохранить Изменения">
									</label>
								</div>
							</div>
							<div class="contacts-box-wrapper">
								<div class="contacts-box-border">
									<div class="contacts-box">
										<label for="phone_number1">
											<p>Телефон:</p>
										</label>
										<textarea id="phone_number1" value="{{contacts.phones|join('\n')}}"></textarea>
									</div>
								</div>
							</div>
							<div class="contacts-box-wrapper">
								<div class="contacts-box-border">
									<div class="contacts-box">
										<label for="email1">
											<p>Email:</p>
										</label>
										<textarea id="email1" value="{{contacts.emails|join('\n')}}"></textarea>
									</div>
								</div>
							</div>
							<div class="contacts-box-wrapper">
								<div class="contacts-box-border">
									<div class="contacts-box">
										<label for="adress">
											<p>Адрес:</p>
										</label>
										<textarea id="adress" value="{{contacts.address|join('\n')}}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-FORM -->
				</div>
			    <!-- - - right side - - -->
			</section>
{% endblock %}